In [ ]:
# homework 1

import pandas as pd 

sales_df = pd.read_csv('sales_data.csv')
sales_df

          Date                 Product     Category  Quantity  Price
0   2023-01-01                  Laptop  Electronics        10    800
1   2023-01-01                 T-Shirt     Clothing         5     20
2   2023-01-02              Smartphone  Electronics         8    400
3   2023-01-02            Coffee Maker         Home        12     50
4   2023-01-03                   Jeans     Clothing        15     30
5   2023-01-03                 Blender         Home         6     60
6   2023-01-04              Headphones  Electronics        10    150
7   2023-01-04                 Sweater     Clothing         7     35
8   2023-01-05                 Toaster         Home         8     25
9   2023-01-05                  Tablet  Electronics        12    300
10  2023-01-06                Sneakers     Clothing        10     50
11  2023-01-06          Vacuum Cleaner         Home         5     80
12  2023-01-07                Smart TV  Electronics        15   1000
13  2023-01-07                  Hoodie     Clothing         6     25
14  2023-01-08          Blu-ray Player         Home         9     70
15  2023-01-08        Wireless Earbuds  Electronics        11    120
16  2023-01-09            Denim Jacket     Clothing        13     45
17  2023-01-09            Air Purifier         Home         7     90
18  2023-01-10          Gaming Console  Electronics        14    400
19  2023-01-10            Formal Shirt     Clothing         8     35
20  2023-01-11            Cookware Set         Home        10     60
21  2023-01-11     External Hard Drive  Electronics         9     80
22  2023-01-12              Sunglasses     Clothing        11     15
23  2023-01-12               Desk Lamp         Home         6     25
24  2023-01-13        Wireless Speaker  Electronics        12     70
25  2023-01-13              Sweatpants     Clothing         7     20
26  2023-01-14            Coffee Table         Home         8    100
27  2023-01-14                   Drone  Electronics        10    300
28  2023-01-15                Backpack     Clothing        14     40
29  2023-01-15           Comforter Set         Home         7     45
30  2023-01-16         Fitness Tracker  Electronics         9     60
31  2023-01-16            Casual Shoes     Clothing         6     30
32  2023-01-17           Kitchen Scale         Home        12     20
33  2023-01-17               Projector  Electronics        13    200
34  2023-01-18             Dress Shirt     Clothing         8     25
35  2023-01-18              Steam Iron         Home        11     30
36  2023-01-19                Soundbar  Electronics        15    150
37  2023-01-19              Sweatshirt     Clothing         7     35
38  2023-01-20            Bedside Lamp         Home        10     20
39  2023-01-20  Point-and-Shoot Camera  Electronics         8    250
40  2023-01-21             Sport Shoes     Clothing        12     40
41  2023-01-21              Desk Chair         Home         6     75
42  2023-01-22          Wireless Mouse  Electronics        11     25
43  2023-01-22            Summer Dress     Clothing         9     30
44  2023-01-23         Pressure Cooker         Home        14     50
45  2023-01-23       Bluetooth Headset  Electronics         7     50
46  2023-01-24             Denim Skirt     Clothing         8     25
47  2023-01-24               Bookshelf         Home        13     80
48  2023-01-25              4K Monitor  Electronics         9    350
49  2023-01-25             Cargo Pants     Clothing        11     30

In [ ]:
# Task 1

category_stats = sales_df.groupby('Category').agg(
    Total_Quantity_Sold=('Quantity', 'sum'),
    Average_Price_Per_Unit=('Price', 'mean'),
    Max_Quantity_Single_Transaction=('Quantity', 'max')
).reset_index()

print(category_stats)

      Category  Total_Quantity_Sold  Max_Quantity_Single_Transaction  \
0     Clothing                  157                               15
1  Electronics                  183                               15
2         Home                  144                               14

   Average_Price_Per_Unit
0               31.176471
1              276.764706
2               55.000000

In [ ]:
# Task 2
product_sales = sales_df.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()

product_sales_sorted = product_sales.sort_values(['Category', 'Quantity'], ascending=[True, False])

top_selling_products = product_sales_sorted.drop_duplicates(subset='Category', keep='first').reset_index(drop=True)

print(top_selling_products)

      Category          Product  Quantity
0     Clothing            Jeans        15
1  Electronics         Smart TV        15
2         Home  Pressure Cooker        14

In [8]:
# Task 3

sales_df['Total_Sales'] = sales_df['Quantity'] * sales_df['Price']

daily_sales = sales_df.groupby('Date')['Total_Sales'].sum().reset_index()

max_sales_date = daily_sales.loc[daily_sales['Total_Sales'].idxmax()]

result_df = pd.DataFrame([max_sales_date])
print(result_df)

         Date  Total_Sales
6  2023-01-07        15150

In [11]:
# homework 2

import pandas as pd 

orders_df = pd.read_csv('customer_orders.csv')
orders_df

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
97       98         105        Comforter Set         1     45
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[100 rows x 5 columns]

In [12]:
# Task 1

customer_order_counts = orders_df.groupby('CustomerID')['OrderID'].nunique()

eligible_customers = customer_order_counts[customer_order_counts >= 20].index

filtered_orders = orders_df[orders_df['CustomerID'].isin(eligible_customers)]

print(filtered_orders)

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
94       95         102      Fitness Tracker         1     60
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[82 rows x 5 columns]

In [13]:
# Task 2

customer_avg_price = orders_df.groupby('CustomerID')['Price'].mean()

high_value_customers = customer_avg_price[customer_avg_price > 120].index

filtered_orders = orders_df[orders_df['CustomerID'].isin(high_value_customers)]

print(filtered_orders)

    OrderID  CustomerID          Product  Quantity  Price
1         2         102       Headphones         1    150
4         5         102         Backpack         1     40
5         6         104           Tablet         2    300
8         9         102         Smart TV         1   1000
9        10         104     Coffee Maker         1     50
12       13         104    Kitchen Scale         1     20
14       15         102          Blender         2     60
16       17         104     Cookware Set         1     60
19       20         102     Summer Dress         2     30
21       22         104    Comforter Set         1     45
24       25         102        Desk Lamp         1     25
26       27         104          Sweater         2     35
29       30         102     Casual Shoes         1     30
31       32         104      Sport Shoes         2     40
34       35         102            Jeans         1     30
36       37         104           Hoodie         1     25
39       40         102          Toaster         1     25
41       42         104        Bookshelf         1     80
44       45         102         Backpack         1     40
46       47         104         Smart TV         1   1000
49       50         102   Wireless Mouse         1     25
51       52         104   Gaming Console         1    400
54       55         102       Smartphone         2    400
56       57         104        Desk Lamp         1     25
59       60         102          Blender         1     60
61       62         104       Steam Iron         2     30
64       65         102     Formal Shirt         2     35
66       67         104            Jeans         1     30
69       70         102     Summer Dress         1     30
71       72         104   Blu-ray Player         1     70
74       75         102            Drone         1    300
76       77         104     Coffee Table         2    100
79       80         102     Denim Jacket         1     45
81       82         104       Sunglasses         2     15
84       85         102       Desk Chair         1     75
86       87         104         Smart TV         1   1000
89       90         102         Backpack         1     40
91       92         104            Jeans         1     30
94       95         102  Fitness Tracker         1     60
96       97         104      Sport Shoes         2     40
99      100         102   Gaming Console         1    400

In [14]:
# Task 3

orders_df['Total_Line_Price'] = orders_df['Quantity'] * orders_df['Price']

product_stats = orders_df.groupby('Product').agg(
    Total_Quantity=('Quantity', 'sum'),
    Total_Price=('Total_Line_Price', 'sum')
).reset_index()

filtered_product_stats = product_stats[product_stats['Total_Quantity'] >= 5]

print(filtered_product_stats)

             Product  Total_Quantity  Total_Price
5        Cargo Pants               6          180
15       Dress Shirt               5          125
19      Formal Shirt               6          210
30        Smartphone               5         2000
32       Sport Shoes               5          200
35        Sunglasses               5           75
41  Wireless Earbuds               6          720

In [ ]:
# homework 3
# Task 1

import pandas as pd
import sqlite3

conn = sqlite3.connect("population.db")

population_df = pd.read_sql_query("SELECT * FROM population", conn)

conn.close()

In [19]:
salary_bands_df = pd.read_excel("population_salary_analysis.xlsx")
salary_bands_df

,Salary Band,Percentage,Average Salary,Median Salary,Number of population
0,"till $200,000",NaN,NaN,NaN,NaN
1,"$200,001 - $400,000",NaN,NaN,NaN,NaN
2,"$400,001 - $600,000",NaN,NaN,NaN,NaN
3,"$600,001 - $800,000",NaN,NaN,NaN,NaN
4,"$800,001 - $1,000,000",NaN,NaN,NaN,NaN
5,"$1,000,001 - $1,200,000",NaN,NaN,NaN,NaN
6,"$1,200,001 - $1,400,000",NaN,NaN,NaN,NaN
7,"$1,400,001 - $1,600,000",NaN,NaN,NaN,NaN
8,"$1,600,001 - $1,800,000",NaN,NaN,NaN,NaN
9,"$1,800,001 and over",NaN,NaN,NaN,NaN